footer {
    clear: both;
    text-align: right;
    background-color: #F2AA52;
    color: #55038C;
    padding: 10px;
    font-size: small;
}
#botao-avaliacao { 

    background-color: #55038C; 

    border: 1px solid #ffffff;  

    color: #ffffff;  

    padding: 10px 25px; 

    text-align: center; 

    display: inline-block; 

    margin: 8px 4px;  

    cursor: pointer; 

    text-decoration: none; 

    font-size: 15px; 

} 

 
 
 

#botao-avaliacao:hover { 

    background-color: #d8a76c; 

} 